body {
    font-size: 1.25em;
    line-height: 1.3em;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: 1em;
}

form {
    display: flex;
    border: solid grey 2px;
    padding: 1em;
}

form label {
    line-height: 2em;
    margin-left: 1em;
 
}

input {
    padding-left: .25em;
    font-size: 1.25em;
}

select {
    font-size: .9em;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.customerOrder {
    margin-left: 3em;
}

.customerOrder p {
    border: solid 2px grey;
}

.customerOrderPrice p {
    border: solid 2px grey;
}

.itemTotal {
    margin: 1em 0;
}

 #pizzaDetails {
   color: black;
} 

#addOrder {
    margin-left: 35%;
    margin-top: 0;
}

fieldset#personalInfo {
    margin-right: 1em;
}

fieldset#toppingsList {
    margin-top: 1em;
}

#inputState, #inputPostal {
    width: 40%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

output {
    color: darkgreen;
}

textarea {
    resize: none;
  }

.itemTotal {
    color: darkgreen;
}

h1,h2 {
    text-align: center;
}

button {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1.5em;
    margin-top: 1em;
    padding: .5em;
    background-color: rgb(173, 241, 173);
}

button:hover {
    background-color: white;
    border: solid red 2px;
}

ul {
    list-style-type: square;
}

#errorMsg {
    margin-left: 1em;
    color: red;
    min-height: 1.3em;
}

footer {
    text-align: center;
    margin-top: 2em;
}

footer p {
    margin-bottom: 0;
}