
* {
    box-sizing: border-box;
}

html, body {
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(248, 248, 241);
    color: black;
}

header  {
    background-color: #EFCFCA;
}

#logo {
    background-image: url(bride-logo.jpg);
    background-repeat: no-repeat;
    min-height: 78px;
    margin-top: .25em;
}

#logo-text {
    text-indent: -10000px;
    margin: 0;
}

h1#shop {
    font-family: "Harlow Solid",Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding-bottom: 1em;
    margin-top: -2em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.25em;
    text-align: center;
    background-color: #EFCFCA;
    width: 100%;
    padding: 1em;
    margin-top: 0;
}

h4 {
    text-align: center;
}

nav {
    margin-top: -.5em;
}

.skip-link {
    margin-left: 1em;
    line-height: 1.5em; 
}

a {
    color: black;
    text-decoration: none;
    padding: .25em;
}

a:hover {
    text-decoration: underline;
    background-color: #FAB9A1;
    padding: .25em;
    color:rgb(29, 14, 4);
}

main {
    padding-top: 2em;
    line-height: 1.5em;
}

#mainContent {
    display:flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
}

/* div should be 100% width on desktop */
section div {
    width: 100%;
}

#mainContent > section {
    margin: .75em;
    padding: 0 1.25em;
    font-size: 1.5em;
}


p.text {
    font-size: 1.75em;
    line-height: 1.25;
}

iframe {
    min-height: 75%;
    align-content: center;
    border-color: grey;
}

img {
    margin-top: .5%;
    width: 45%;
    height: auto;
}

form {
    font-size: 1.25em;
    padding: 1em 0;
}

label.formText {
    margin-top: .5em;
    font-size: 1.25em;
}

div.info input {
    margin: .3em;
    width: 100%;
}

div.info label {
    display: block;
    margin-top: 1em;
}

.flex-item-left, .flex-item-right {
    margin: 1% 2%;
    width: 45%;
    height: auto;
}

.flex-item-right {
    float: right;
}

input#phone {
    margin-bottom: 1.5em; /* add space after for text below */
}

input#submit {
    margin-top: 1em; /* add space after for text above */
}

.strongText {
    margin-left: 20%;
}

fieldset {
    margin-top: 1em;
} 

input {
    padding: .5em;
    margin: .25em;
}

#submit:hover {
    border: solid black .1em;
    background-color: #FAB9A1;
    color:rgb(29, 14, 4);
}

#submit {
    font-size: 1em;
    background-color: #EFCFCA;
    padding: .75em;
    width: 7em;
    margin-left: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    line-height: 1.5em;
    margin-top: -1.45em;
}

li a.active {
    background-color: rgb(250, 185, 161);
    padding: .25em;
}

li a {
      display:inline;
      line-height: 1.5em;
}

li {
    display: inline;
    padding: 1em;
    font-size: 1.5em;
}

.visuallyhidden {
    visibility: hidden;
    font-size: 1em;
    height: 0;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    clear: both;
    line-height: 1.5em;
    text-align: center;
}

p.shopHours {
    font-size: 1.25em;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      /* flex: 100%; */
      width: auto;
      height: 100%;
      margin-top: 1%;
    }

    img {
        width:auto;
    }

    #mainContent section {
        height:100%;
    }

    section {
        height: 100%;
    }

    section div {
        height: 100%;
    }

    div h2 {
        font-size: 80%;
    }

    h1 {
        display: none;
    }
}

