
* {
    box-sizing: border-box;
}

html, body {
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(248, 248, 241);
}

header  {
    background-color: #EFCFCA;
}

#logo {
    background-image: url(bride-logo.jpg);
    background-repeat: no-repeat;
    min-height: 78px;
    margin-top: .25em;
}

#logo-text {
    text-indent: -10000px;
    margin: 0;
}

nav {
    margin-top: -.5em;
}

.skip-link {
    margin-left: 1em;
    line-height: 1.5em; 
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(250, 247, 247, 0.911); 
}

main {

    padding-top: 2em;
    line-height: 1.5em;
}

main h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    display:flex;
}

.two-cols {
    flex: 45%;
    margin-left: 5%; 
}

p.text {
    font-size: 1.75em;
    line-height: 1.25;
}

iframe {
    width: 100%;
    height: 75%;
    align-content: center;
    border-color: grey;
}

#mainContent img {
    min-width: 50%;
    padding-bottom: 1em;
}

.sample h2 {
    max-height: 3em;
}

#myForm {
    padding-bottom: 11em;
}

form {
 font-size: 1.25em;
 /* margin: 0 5%; */
}

div.info input {
    margin: .3em;
    width: 100%;
}

div.info label {
    display: block;
    margin-top: 1em;
}

fieldset {
    margin-top: 1em;
} 

input {
    padding: .5em;
    margin: .25em;
}

#submit:hover {
    border: solid black .1em;
    font-weight: 600;
}

#submit {
    font-size: 1em;
    background-color: #FAB9A1;
    padding: .75em;
    width: 7em;
    margin-left: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    line-height: 1.5em;
    margin-top: -1.45em;
}

li a.active {
    background-color: rgb(250, 185, 161);
    padding: .25em;
}

li a {
      display:inline;
      line-height: 1.5em;
}

li {
    display: inline;
    padding: 1em;
    font-size: 1.5em;
}

.visuallyhidden {
    visibility: hidden;
    font-size: 1em;
    height: 0;
    margin: 0;
}

footer {
    display: flex;
    position: relative;
    clear: both;
    padding-left: 20%;
    line-height: 1.5em;
}

