body {
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(248, 248, 241);
}

header  {
    background-color:#c4ffeb;
}

#logo {
    background-image: url(dogs-logo.png);
    background-repeat: no-repeat;
    min-height: 78px;
    width: 100%;
    margin-top: .25em;
}

#logo-text {
    text-indent: -10000px;
    margin: 0;
}

nav {
    margin-top: -.5em;
}

.skip-link {
    margin-left: 1em;
    line-height: 1.5em; 
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(250, 247, 247, 0.911); 
}

main {
    padding-top: 2em;
    line-height: 1.5em;
}

main h1 {
    text-align: center;
}

p.text {
    font-size: 1.75em;
    line-height: 1.25;
}

iframe {
    width: 90%;
    margin-left: 5%;
    padding-top: 1em;
    height: 60em;
    align-content: center;
    border-color: grey;
}

form {
 font-size: 1.25em;
 margin: 0 5%;
}


div.info input {
    margin: .3em;
    width: 50%;
}

div.info label {
    display: block;
}

fieldset {
    margin-top: 1em;
} 

input {
    padding: .5em;
    margin: .25em;
}

#submit:hover {
    border: solid black .1em;
}

.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left10 {
    margin-left: 10%;
}

#submit {
    color: white;
    font-size: 1.25em;
    background-color: green; 
    padding: .75em;
    width: 7em;
}

#reset {
    color: white;
    font-size: 1.25em;
    background-color: red;
    padding: .75em;
    width: 7em;
}


#reset:hover {
    border: solid black .1em;
}

textarea {
    width: 100%;
}

ul 
{
    list-style-type: none;
    margin: 0;
    text-align: center;
    line-height: 1.5em;
}

li a.active {
    background-color: rgb(250, 185, 161);
    padding: .25em;
}

li a {
      display:inline;
      line-height: 1.5em;
}

li 
  {
    display: inline;
    padding: 1em;
    font-size: 1.5em;
}

.visuallyhidden {
    visibility: hidden;
    font-size: 1em;
    height: 0;
    margin: 0;
}

footer {
    min-height: 4em;
}

footer p {
    text-align: center;
    padding-top: 2em;
}