body {
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

header  {
    background-color:#c4ffeb;
}

#logo {
    background-image: url(dogs-logo.png);
    background-repeat: no-repeat;
    min-height: 78px;
    width: 100%;
    margin-top: .25em;
}

#logo-text {
    text-indent: -10000px;
    margin: 0;
}

nav {
    margin-top: -.5em;
}

.skip-link {
    margin-left: 1em;
    line-height: 1.5em; 
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(250, 247, 247, 0.911); 
}

main {
    padding-top: 2em;
    line-height: 1.5em;
}

main h1 {
    text-align: center;
}

p.text {
    font-size: 1.25em;
    line-height: 1.5;
}

figure {
    width:30%;
    float: right;
}

img {
    width: 100%;
}

ul 
{
    list-style-type: none;
    margin: 0;
    text-align: center;
    line-height: 1.5em;
}
  
li a {
      display:inline;
      line-height: 1.5em;
}

li 
  {
    display: inline;
    padding: 1em;
    font-size: 1.5em;
}

.visuallyhidden {
    visibility: hidden;
    font-size: 5px;
    height: 0;
    margin: 0;
}

caption {
    padding-bottom: 1em;
}

table {
    width: 80%;
    border-collapse: collapse;
    font-family: "Lucida Console", "Courier New", monospace;
  }

table, th, td {
    border: 1px solid black;
}

th {
    text-align: left;
    padding-left: .5em;
}

td {
    padding-left: .5em;
}

.tableTop {
    text-align: center;
    background-color: #c4ffeb;
}

footer {
    min-height: 4em;
}

footer p {
    text-align: center;
    padding-top: 2em;
}