body {
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

header  {
    min-height: 5em;
    background-color:#c4ffeb;
}

.topnav {
    float: left;
}

.topnav h1 {
    margin-top: .3em;
    margin-left: 1em;
}

.topnav a {
    margin-top: 1em;
    margin-left: 1.7em;
    font-size: 1.2em;
}

a {
    color: black;
}

nav li a:hover {
    background-color: #ddd;
}

nav {
    padding-top: .5em;
}

main {
    padding-top: 2em;
    line-height: 1.5em;
}

main h1 {
    text-align: center;
}

main p {
    font-size: 1.25em;
    line-height: 1.5;
}

ul 
{
    list-style-type: none;
    margin: 0;
    text-align: center;
    line-height: 1.5em;
}
  
li a {
      display:inline;
      line-height: 1.5em;
}

li 
  {
    display: inline;
    padding: 1em;
    font-size: 1.5em;
}

.visuallyhidden {
    visibility: hidden;
    font-size: 5px;
}

table {
    width: 80%;
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid black;
}

th {
    text-align: left;
    padding-left: 1em;
}

td {
    padding-left: .5em;
}

.tableTop {
    text-align: center;
    background-color: #c4ffeb;
}


footer {
    min-height: 4em;
}

footer p {
    text-align: center;
    padding-top: 2em;
}