body {
    font-size: 1.25em;
    line-height: 1.3em;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#mainContent {
    margin-left: 1em;
}

label {
    font-size: 1.1em;
}

form label {
    line-height: 2em;
    margin-left: 1em;
}

input {
    padding-left: .25em;
    font-size: 1.1em;
}

button {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1.5em;
    margin-top: 1em;
    padding: .5em;
    background-color: rgb(173, 241, 173);
}

button:hover {
    background-color: white;
    border: solid red 2px;
}

ul {
    list-style-type: square;
}

h3 {
    margin-left: 1em;
}

